{{!-- {{#if comment}}
<div class="commentWrapper1 flex flex-col mx-20">
    <div class="flex flex-row basis-1/5 border-b-4 py-7">
        <div class="basis-4/5">
            <h1 class="font-bold text-2xl text-slate-700">Comment Title (if applicable)</h1>
        </div>
        <div class="basis-1/5">
            <!-- Button for actions related to comments (if needed) -->
        </div>
    </div>
    <div class="basis-4/5 flex flex-row">
        <div class="commentStats basis-1/5 my-4 mx-4">
            <span
                class="material-symbols-outlined orange600 rounded-full border-2 hover:bg-orange-100 p-4 hover:cursor-pointer"
                id="thumb_up">thumb_up</span><br>
            <span class="inline-block max-w-[1px] text-center my-2 mx-6 text-center" id="votes"
                value="{{comment.likes}}">{{comment.likes}}</span><br>
            <span class="material-symbols-outlined rounded-full border-2 hover:bg-orange-100 p-4 hover:cursor-pointer"
                id="thumb_down">thumb_down</span><br>
            <button id="commentId" value="{{comment._id}}" hidden>{{comment._id}}</button>
        </div>
        <div class="comment basis-4/5">
            <p class="p-3">{{comment.commentText}}</p>
            <p class="p-3">Additional comment details (if any)</p>
            <!-- Display other comment-related information or content here -->
        </div>
    </div>
</div>
{{else}}
<div class="error">
    <h3>{{message}}</h3>
</div>
{{/if}} --}}