{{>header}}
<div class="communityPageWrapper flex flex-row justify-around">

  <!-- Members Section -->
  <div class="membersSection border-solid border-2 rounded-lg p-4 m-4 flex-1">
    <h2 class="sectionTitle">Members</h2>
    <ul class="sectionList">
        <li>{{creater}} (Community Leader)</li>
      {{#each members}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <!-- Questions Section -->
  <div class="questionsSection border-solid border-2 rounded-lg p-4 m-4 flex-2">
    <h2 class="sectionTitle">Questions</h2>
    <ul class="sectionList">
      {{#each questions}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <!-- Other Community Details Section -->
  <div class="otherDetailsSection border-solid border-2 rounded-lg p-4 m-4 flex-1">
    <h2 class="sectionTitle">Community Details</h2>
    <p>Name: {{title}}</p>
    <p>Description: {{description}}</p>
    {{!-- <p>Created on: {{createdAt}}</p> --}}
    <br>
    <nav>
      {{#if user}}
          {{#if joined}}
          <a href="/communities/unjoin?id={{id}}" class="joinedLink">Exit</a> 
          {{else}}
          <a href="/communities/join?id={{id}}" class="joinLink">Join Community</a>
          {{/if}}
      {{/if}}
    </nav>
  </div>
</div>