{{>header}}
<div class="communityPageWrapper flex flex-row justify-around">

  <!-- Members Section -->
  <div class="membersSection border-solid border-2 rounded-lg p-4 m-4 flex-1 min-h-screen">
    <h2 class="sectionTitle">Members</h2>
    <ul class="sectionList">
        <li>{{creater}} (Community Leader)</li>
      {{#each members}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>

  <!-- Questions Section -->
  <div class="questionsSection border-solid border-2 min-h-screen scroll-smooth overflow-scroll rounded-lg p-4 m-4 flex-2">
    <h2 class="sectionTitle">Questions</h2>
      {{#each questions}}
        <div class="questionWrapper1 flex flex-row border-b-2 px-2">
          
          <div class="questionStats my-4 ml-8 ml-10 whitespace-normal basis-1/3">
            <h4 class="pl-5 text-sm text-normal"><span class="ml-6">{{votes}} votes</span></h4>
            <h4 class="pl-5 text-sm text-extralight text-slate-500"><span class="ml-1">{{comments.length}} answers</span></h4>
          </div>
          <div class="question basis-2/3 my-4 w-fit ml-5 h-auto whitespace-normal text-ellipsis overflow-hidden">
            <h3 class="text-sky-600 text-lg font-semibold hover:text-sky-700"><a href="/questions/{{_id}}">{{title}}</a></h3>
            <p class="text-slate-500 py-6 my-2 text-ellipsis overflow-hidden max-h-36">{{problemDetails}}</p>
            {{#each tagsObj}}
              <button class="tags rounded-md border-slate-900 outline-0 px-2 py-1 my-1 bg-sky-100 text-sky-600 text-sm font-semibold hover:bg-sky-200" value="{{tag}}">{{tag}}</button>
            {{/each}}
          </div>
        </div>
    {{/each}}
  </div>

  <!-- Other Community Details Section -->
  <div class="otherDetailsSection border-solid border-2 rounded-lg p-4 m-4 flex-1 min-h-screen">
    <h2 class="sectionTitle">Community Details</h2>
    <p>Name: {{title}}</p>
    <p>Description: {{description}}</p>
    {{!-- <p>Created on: {{createdAt}}</p> --}}
    <br>
    <nav>
      {{#if user}}
          {{#if joined}}
          <a href="/communities/unjoin?id={{id}}" class="joinedLink">Leave Community</a>
          {{else}}
            {{#if isUserCreater}}
            <a href="/communities/{{id}}" class="joinedLink">You are the leader</a>
            {{else}}
            <a href="/communities/join?id={{id}}" class="joinLink">Join Community</a>
            {{/if}}
          {{/if}}
      {{/if}}
    </nav>
  </div>
</div>